* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.AddVac_container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.AddVac_container.active {
    opacity: 1;
    pointer-events: all;
}

.AddVac_content {
    padding: 20px;
    border-radius: 12px;
    background-color: white;
    
}

.AddVac_form_field {
    display: block;
    padding: 5px 70px;
    border: 1px solid ;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 8px;
}

.AddVac_form_buttn {
    display: block;
    padding: 5px 70px;
    border: 1px solid ;
    border-radius: 3px;
    margin-left: 30px;
    font-size: 18px;
    margin-top: 10px;
}

.AddVac_form_buttn:hover {
    background-color: #d0d6d7cf;
}