* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.searchgroup_contain{
    margin-left: 10px;
}
.input_field {
    padding: 5px 70px;
    padding-left: 25px;
    border: 1px solid ;
    border-radius: 5px;
    font-size: 18px;
    width: 300px;
    transition: all 0.15s ease-in-out;

    &:focus {
        width: 400px;
    }

    &:not(:placeholder-shown) {
        width: 400px;
    }
      
}

.search_btn {
    padding: 5px 8px;
    margin-left: 5px;
    border: none;
    background-color: white;
    transition: all .1s;
}    

.filter_btn {
    padding: 6px 8px;
    margin-left: 5px;
    border: none;
    background-color: white;
    transition: all .1s;
}

.add_btn {
    padding: 6px 8px;
    margin-left: 5px;
    border: none;
    background-color: white;
    transition: all .1s;
}

.filter_btn:hover {
    border-radius: 40%;
    background-color: #d0d6d7cf;

}

.search_btn:hover {
    border-radius: 40%;
    background-color: #d0d6d7cf;
}

.delete_btn {
    position: absolute;
    left: 780px;
    top: 76px;
    opacity: 0.3;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

.add_btn:hover {
    border-radius: 40%;
    background-color: #d0d6d7cf;
}

.vac_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.vac_item {
    list-style-type: none;
    border: 1px solid;
    margin: 10px;
    border-radius: 5px;
    font-size: 20px;
    padding: 24px;
    width: 70%;
}

.vac_item_button {
    padding: 5px 8px;
    border: 1px solid;
    border-radius: 3%;
    background-color: white;
    transition: all .1s;
}

.vac_item_button:hover {
    background-color: #d0d6d7cf;
}

.heart {
    float: right;
    transition: all .1s;
}

.heart:hover {
    color: red;
    cursor: pointer;
}






